/*:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/

svg {
  width: 100%;
  vertical-align: middle;
}

.balloon {
  max-width: 200px;
  transition: translate 0.1s, scale 0.1s, opacity 0.1s ease-in-out;
  margin: auto;
  translate: 0% 100%;
  transform-origin: center;
}

.balloon--moving {
  animation: balloon-moving 5s ease-in-out 1s infinite alternate;
  transform-origin: 50% 300%;
}

@keyframes balloon-moving {
  25% {
    transform: rotate(-2deg);
  }

  75% {
    transform: rotate(2deg);
  }
}

.balloon--active {
  translate: 0% 0%;
  transform-origin: 50% 300%;
}

.balloon--popping {
  animation: balloon-popping 0.1s ease-in-out alternate;
  transform-origin: 50% 75%;
  translate: 0% 100%;
}

@keyframes balloon-popping {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(5);
    opacity: 0;
    visibility: hidden;
  }
}

.balloon-cell {
  cursor: pointer;
  padding: 3em 2em 0;
  width: 500px;
  overflow: hidden;
  background-color: #eee;
  border-radius: 1em;
  box-shadow: 0.25em 0.25em 0 0 var(--pri-color-dark);
  transition: rotate 0.25s ease-in-out;
}

.balloon-grid {
  transition: opacity 250ms ease-in-out;
  gap: 2em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media only screen and (min-width: 800px) {
  .balloon-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}